@import '../../../shared/mixins/functions.scss';

#subscription-section {
  .left-section {
    display: flex;
    border-bottom: 1px solid black;
  }

  .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;

    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      p {
        text-align: center;
      }
      .title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (min-width: 992px) {
  #subscription-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .left-section {
      border-right: 1px solid black;
    }

    .right-section {
      gap: calculate-vw(64);
      padding: calculate-vw(80);

      .content-container {
        gap: calculate-vw(16);

        .title-container {
          gap: calculate-vw(24);
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #subscription-section {
    display: flex;
    flex-direction: column;

    .right-section {
      gap: calculate-vw-tablet(64);
      padding: calculate-vw-tablet(80);

      .content-container {
        gap: calculate-vw-tablet(16);

        .title-container {
          gap: calculate-vw-tablet(24);
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #subscription-section {
    display: flex;
    flex-direction: column;

    .right-section {
      gap: calculate-vw-mobile(64);
      padding: calculate-vw-mobile(40) calculate-vw-mobile(16);

      .content-container {
        gap: calculate-vw-mobile(16);

        .title-container {
          gap: calculate-vw-mobile(24);
        }
      }

      .secondary-button {
        width: 100%;
      }
    }
  }
}
