@import '../../shared/mixins/functions.scss';

.secondary-button {
    text-transform: uppercase;
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    border: 1px solid black;
    padding-top: calculate-vw(19.5);
    padding-bottom: calculate-vw(17.5);
    padding-right: calculate-vw(43);
    padding-left: calculate-vw(43);
    font-weight: 500;
    font-size: calculate-vw(16);
    line-height: calculate-vw(19.2);
    letter-spacing: calc(1em / 33);

    &.pressed {
        background-color: initial;
        color: black;
    }

    &.disabled {
        border: 1px solid #D2D2D7;
        color: #808080;
    }
}

.secondary-button:hover {
    background-color: black;
    color: white;
  }