@import '../../../../../shared/mixins/functions.scss';

.review {
    padding: 0 calculate-vw(56);
    font-weight: 400;
    font-size: calculate-vw(28);
    line-height: calculate-vw(33.6);
    font-style: italic;
  }
  .author {
    font-weight: 500;
    font-size: calculate-vw(16);
    line-height: calculate-vw(19.2);
    margin-top: calculate-vw(16);
    margin-bottom: calculate-vw(36);
  }