@import '../../mixins/functions.scss';

header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: 500;
  position: sticky;
  top: 0%;
  bottom: auto;
  z-index: 30;

  .header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .grid-right-item {
      display: flex;
      justify-content: center;
      border-left: 1px solid black;
    }
    .grid-left-item {
      display: flex;
      justify-content: center;
      border-right: 1px solid black;
    }
  }
  .grid-left-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1;
  }

  .grid-right-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2;
  }
}

@media (min-width: 992px) {
  header {
    font-size: calculate-vw(16);
    line-height: calculate-vw(19.2);

    .header-grid {
      .grid-left-item {
        padding: calculate-vw(32);
      }
      .grid-right-item {
        padding: calculate-vw(32);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    font-size: calculate-vw-tablet(16);
    line-height: calculate-vw-tablet(19.2);

    .header-grid {
      grid-template-columns: 0.0625fr auto 0.0625fr;
      .grid-left-item {
        grid-column: 1;
        padding: calculate-vw-tablet(16);
        justify-content: center;
      }
      .grid-right-item {
        grid-column: 3;
        padding: calculate-vw-tablet(16);
        justify-content: center;
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    font-size: calculate-vw-mobile(16);
    line-height: calculate-vw-mobile(19.2);

    .header-grid {
      grid-template-columns: 0.0625fr auto 0.0625fr;
      .grid-left-item {
        grid-column: 1;
        padding: calculate-vw-mobile(12);
        justify-content: center;
      }
      .grid-right-item {
        grid-column: 3;
        padding: calculate-vw-mobile(12);
        justify-content: center;
      }
    }
  }
}
