@import '../../../../../shared/mixins/functions.scss';

.border-left {
  border-left: 1px solid black;
}

.border-right {
  border-right: 1px solid black;
}

@media (min-width: 992px) {
  .description-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: calculate-vw(24);
    border-bottom: 1px solid black;

    h3 {
      text-align: center;
    }

    .bottom-label {
      display: flex;
      gap: calculate-vw(4);
      position: absolute;
      bottom: calculate-vw(24);
      span {
        font-weight: 600;
        font-size: calculate-vw(16);
        line-height: calculate-vw(19.2);
        letter-spacing: 0.033vw;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .description-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: calculate-vw-tablet(24);
    border-bottom: 1px solid black;

    h3 {
      text-align: center;
    }

    .bottom-label {
      display: flex;
      gap: calculate-vw-tablet(4);
      position: absolute;
      bottom: calculate-vw-tablet(24);
      span {
        font-weight: 600;
        font-size: calculate-vw-tablet(16);
        line-height: calculate-vw-tablet(19.2);
        letter-spacing: 0.033vw;
      }
    }
  }
}

@media (max-width: 767px) {
  .description-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: calculate-vw-mobile(12);
    border-bottom: 1px solid black;

    h3 {
      text-align: center;
    }

    .bottom-label {
      display: flex;
      gap: calculate-vw-mobile(4);
      position: absolute;
      bottom: calculate-vw-mobile(24);
      span {
        font-weight: 600;
        font-size: calculate-vw-mobile(12);
        line-height: calculate-vw-mobile(14.4);
        letter-spacing: 0.033vw;
      }
    }
  }
}
