@import '../../../../shared/mixins/functions.scss';
.accordion {
  .item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    .title {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        margin-top: calculate-vw(24);
      }
      img {
        width: calculate-vw(24);
        height: calculate-vw(24);
      }
    }
    .item-content {
      max-height: 0;
      overflow: hidden;
      margin-bottom: calculate-vw(24);
     
      &.show {
        max-height: 30vw;
        
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .accordion {
    .item {
      .title {
        h5 {
          font-weight: 500;
          font-size: calculate-vw-tablet(21);
          line-height: calculate-vw-tablet(25.2);
          margin-top: calculate-vw-tablet(24);
        }
        img {
          width: calculate-vw-tablet(24);
          height: calculate-vw-tablet(24);
        }
      }
      .item-content {
        margin-bottom: calculate-vw-tablet(24);
      }
    }
  }
  }


@media (max-width: 767px) {
  .accordion {
    .item {
      .title {
        gap: calculate-vw-mobile(16);
        h6 {
          font-weight: 500;
          font-size: calculate-vw-mobile(16);
          line-height: calculate-vw-mobile(16);
          margin-top: calculate-vw-mobile(16);
        }
        img {
          width: calculate-vw-mobile(24);
          height: calculate-vw-mobile(24);
        }
      }
      .item-content {
        margin-bottom: calculate-vw-mobile(16);
      }
    }
  }
}
