@import '../../../shared/mixins/functions.scss';

.swiper-container {
  display: flex;
  flex-direction: column;
  gap: calculate-vw(32);

  .nav-content-conteiner {
    display: flex;
    flex-direction: row;

    .image-swiper-button-prev {
      display: flex;
      align-self: center;
      cursor: pointer;
    }
    .image-swiper-button-next {
      display: flex;
      align-self: center;
      cursor: pointer;
    }

    .swiper {
      .swiper-wrapper {
        display: flex;
        align-self: center;

        .swiper-slide {
          display: flex;
          text-align: center;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }

  .swiper-pagination {
    display: flex;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
  }

  .swiper-pagination-bullets {
    display: flex;
    justify-content: center;

    .swiper-pagination-bullet {
      border-radius: 50%;
      background-color: #d2d2d7;
      cursor: pointer;
    }

    .swiper-pagination-bullet-active {
      background-color: #808080;
    }
  }
}

@media (min-width: 992px) {
  .swiper-container {
    gap: calculate-vw(32);

    .nav-content-conteiner {
      gap: calculate-vw(24);
    }

    .swiper-pagination-bullets {
      gap: calculate-vw(4);

      .swiper-pagination-bullet {
        width: calculate-vw(4);
        height: calculate-vw(4);
      }
    }
  }

  .img-arrow {
    width: calculate-vw(32);
    height: calculate-vw(32);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .swiper-container {
    gap: calculate-vw-tablet(32);

    .nav-content-conteiner {
      gap: calculate-vw-tablet(24);
    }

    .swiper-pagination-bullets {
      gap: calculate-vw-tablet(4);

      .swiper-pagination-bullet {
        width: calculate-vw-tablet(4);
        height: calculate-vw-tablet(4);
      }
    }
  }
  .img-arrow {
    width: calculate-vw-tablet(32);
    height: calculate-vw-tablet(32);
  }
}

@media (max-width: 767px) {
  .swiper-container {
    gap: calculate-vw-mobile(32);

    .nav-content-conteiner {
      gap: calculate-vw-mobile(24);
    }

    .swiper-pagination-bullets {
      gap: calculate-vw-mobile(4);

      .swiper-pagination-bullet {
        width: calculate-vw-mobile(4);
        height: calculate-vw-mobile(4);
      }
    }
  }

  .img-arrow {
    width: calculate-vw-mobile(32);
    height: calculate-vw-mobile(32);
  }
}
