@import '../../shared/mixins/functions.scss';

h1 {
  font-weight: 600;
  font-size: calculate-vw(67);
  line-height: calculate-vw(80.4);
}

h2 {
  font-weight: 600;
  font-size: calculate-vw(50);
  line-height: calculate-vw(60);
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: calculate-vw(38);
  line-height: calculate-vw(45.6);
  margin-top: calculate-vw(24);
  margin-bottom: calculate-vw(16);
}

.our-service {
  border-bottom: 1px solid black;

  h2 {
    text-align: center;
    padding-bottom: calculate-vw(80);
    padding-top: calculate-vw(80);
  }
}
