@import '../../../shared/mixins/functions.scss';

#quickOrder-section{
  border-bottom: 1px solid black;

  .left-section {

  }
   
  .right-side {

  }
}


@media (min-width: 992px) {
  #quickOrder-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);        
    height: calculate-vw(753);

    .left-side {
      border-right: 1px solid black;  
    } 

    .right-side{
      border-left: 1px solid black;  
      
      .button-order{
        margin: calculate-vw(0) calculate-vw(40) calculate-vw(40);
      }
    } 
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #quickOrder-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);   

    .left-side {
      .img-product {
        height: calculate-vw-tablet(670);                
      }   
    } 

    .button-order{
      margin: calculate-vw-tablet(40) calculate-vw-tablet(40) calculate-vw-tablet(40);
    }
  }
}

@media (max-width: 767px) {
  #quickOrder-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 

    .left-side {
      .img-product {
        height: calculate-vw-mobile(420);
      }   
    } 

    .button-order{
      margin: calculate-vw-mobile(40) calculate-vw-mobile(40) calculate-vw-mobile(40);
    }
  }
}
