@import '../../../shared/mixins/functions.scss';

#description-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);   

  .path-to-product{
    display: flex;

    .overline-gray{
      color: #808080
    }
  }

  .content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);   
  }

  .combination-title{
    .combination-title-include{
      color: #808080
    }
  } 

  .subtitle-weight{

  }
}

@media (min-width: 992px) {
  #description-section {
    gap: calculate-vw(24);             
    padding: calculate-vw(40) calculate-vw(40);  

    .content{
      gap: calculate-vw(16);
    }

    .quantity-content{
      display: flex;
      gap: calculate-vw(16);
      align-items: center;
    }

    .subtitle-description {
      font-weight: 500;
      font-size: calculate-vw(18);
      line-height: calculate-vw(25.2);
    }

    .combination-title {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #description-section {
    gap: calculate-vw-tablet(24);      
    padding: calculate-vw-tablet(40);

    .content{
      gap: calculate-vw-tablet(16);
    }
    
    .quantity-content{
      display: flex;
      gap: calculate-vw-tablet(16);
      align-items: center;
    }

    .subtitle-description {
      font-weight: 500;
      font-size: calculate-vw-tablet(18);
      line-height: calculate-vw-tablet(25.2);
    }

    .combination-title {
      display: flex;
      justify-content: space-between;
    }    
  }
}    

@media (max-width: 767px) {
  #description-section {
    gap: calculate-vw-mobile(24);
    padding: calculate-vw-mobile(40) calculate-vw-mobile(16);

    .content{
      gap: calculate-vw-mobile(16);
    }

    .quantity-content{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: calculate-vw-mobile(16);
    }

    .subtitle-description {
      font-weight: 500;
      font-size: calculate-vw-mobile(18);
      line-height: calculate-vw-mobile(25.2);
    }

    .combination-title {  
      .combination-title-include {
        color: #808080;
        margin-bottom: calculate-vw-mobile(8);
      }
    }
  }
}
