@import '../../../../shared/mixins/functions.scss';

.swiper-product-content  {
  .price{
    color: #808080;
  }
}

@media (min-width: 992px) {
  .swiper-product-content  {
    .img-product{
      width: calculate-vw(100);
      height: calculate-vw(100);
    }
    .name{
      margin: calculate-vw(8) 0 calculate-vw(4);
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .swiper-product-content  {
    .name{
      margin: calculate-vw-tablet(8) 0 calculate-tablet(4);
    }
  }
}

@media (max-width: 767px) {
  .swiper-product-content  {
    .name{
      margin: calculate-vw-mobile(8) 0 calculate-mobile(4);
    }
  }
}
