@import '../../../shared/mixins/functions.scss';

#hero-section {
  display: flex;
  .left-side {
    width: 50vw;
    border-bottom: 1px solid black;
    .content {
      position: sticky;
      top: calculate-vw(85);
      padding: calculate-vw(80);
      .upper-items {
        margin-bottom: calculate-vw(54);
        span {
          display: block;
          font-weight: 400;
          font-size: calculate-vw(18);
          line-height: calculate-vw(25.2);
          .italic {
            display: inline;
            font-style: italic;
          }
        }
      }
      .bottom-items {
        display: flex;
        border-top: 1px solid black;
        img {
          width: calculate-vw(256);
          height: calculate-vw(256);
          padding-right: calculate-vw(24);
          margin-top: calculate-vw(24);
          border-right: 1px solid black;
        }
        span {
          align-self: flex-end;
          padding-left: calculate-vw(24);
          font-size: calculate-vw(14);
          line-height: calculate-vw(16.8);
          max-width: calculate-vw(256);
        }
      }
    }
    .r-item {
      position: absolute;
      left: 77%;
      top: 48%;
      font-weight: 500;
      font-size: calculate-vw(40);
      line-height: calculate-vw(48);
    }
  }

  .right-side {
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
