@import '../../mixins/functions.scss';

.primary-button {
  text-transform: uppercase;
  text-align: center;
  padding-top: calculate-vw(19.5);
  padding-bottom: calculate-vw(17.5);
  font-weight: 500;
  font-size: calculate-vw(16);
  line-height: calculate-vw(19.2);
  letter-spacing: calc(1em / 33);
  color: white;
  background-color: black;

  &.pressed {
    color: white;
    background-color: black;
  }

  &.disabled {
    background-color: #d2d2d7;
    color: #808080;
  }
}

.primary-button:hover {
  background-color: #424245;
}
