@import '../../shared/mixins/functions.scss';

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: calculate-vw(16);
  letter-spacing: calc(1em / 50);
  font-weight: 500;
  line-height: calculate-vw(19.2);
  display: flex;
  justify-content: space-between;

  .left-buttons {
    display: flex;
    .left-button {
      border-right: 1px solid black;
      padding: calculate-vw(32) calculate-vw(64);
    }
  }

  .right-buttons {
    width: 25vw;
    display: flex;
    .sign-in-button {
      border-left: 1px solid black;
      padding: calculate-vw(32) calculate-vw(62.05);
    }
    .cart-button {
      border-left: 1px solid black;
      padding: calculate-vw(32) calculate-vw(72.5);
    }
  }
}

@media (max-width: 768px) {
  header {
    img {
      width: calculate-vw-mobile(24);
      height: calculate-vw-mobile(24);
    }
    .left-buttons {
      justify-content: center;
      align-items: center;
      padding: calculate-vw(12);
      border-right: 1px solid black;
    }
    .right-buttons {
      width: auto;
      justify-content: center;
      align-items: center;
      padding: calculate-vw(12);
      border-left: 1px solid black;
    }
  }
}
