@import '../../shared/mixins/functions.scss';

.quantity-counter {
    height: calculate-vw(44);
    border: 1px solid black;
    display: inline-flex;
    button {
        all: unset;
    }
    .minus{
        width: calculate-vw(44);
    }
    .quantity{
        border-left: 1px solid black;
        width: calculate-vw(56);
        font-size: calculate-vw(16);
        line-height: calculate-vw(22.4);
    }
    .plus {
        border-left: 1px solid black;
        width: calculate-vw(44);
    }
    .boxes-settings {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img {
        height: 50%;
        width: 50%;
    }

}