@import '../../mixins/functions.scss';

.link {
  all: unset;
  display: flex;
  align-items: center;
  font-family: 'Gilroy', sans-serif;
  background-color: white;
  font-style: normal;
  font-weight: 500;
  letter-spacing: calculate-letter-spacing(0.4);
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: gray;
  }
}

@media (min-width: 992px) {
  .link {
    font-size: calculate-vw(16);
    line-height: calculate-vw(19.2);
    letter-spacing: calculate-letter-spacing(0.4);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .link {
    font-size: calculate-vw-tablet(16);
    line-height: calculate-vw-tablet(19.2);
    letter-spacing: calculate-letter-spacing(0.4);
  }
}

@media (max-width: 767px) {
  .link {
    font-size: calculate-vw-mobile(14);
    line-height: calculate-vw-mobile(16.8);
    letter-spacing: calculate-letter-spacing(0.35);
  }
}
