@import '../../functions/functions.scss';

.footer-desktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  h4 {
    font-size: 1.45vw;
  }

  h5 {
    font-size: 0.98vw;
  }
}

.footer-tablet {
  display: grid;
  grid-template-columns: 1fr 1fr;

  h4 {
    font-size: 3.7vw;
  }

  h5 {
    font-size: 2.5vw;
  }

  p {
    font-size: 2.9vw;
    line-height: 130%;
  }

  .footer-grid-item {
    img {
      width: 4.22vw;
      height: 4.22vw;
    }
  }

  .link {
    font-size: 2.46vw;
    letter-spacing: 0.073vw;
  }
}

.footer-mobile {
  display: grid;
  grid-template-columns: 1fr;

  h4 {
    font-size: 4.8vw;
  }

  h5 {
    font-size: 3.7vw;
  }

  p {
    font-size: 4.3vw;
    line-height: 130%;
  }

  img {
    width: 6.4vw;
    height: 6.4vw;
    min-height: 24px;
    min-width: 24px;
  }

  .link {
    font-size: 3.9vw;
    letter-spacing: 0.073vw;
  }
}

.border-top-bottom {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.border-right {
  border-right: 1px solid black;
}

.footer-grid-item {
  background-color: #fff;
  flex-direction: column;
  padding: 2.77vw;
  display: flex;

  .content-container {
    display: flex;
    flex-direction: column;
    gap: calculate-vw(24);
  }
  .links-grid {
    display: grid;
    gap: calculate-vw(16);
  }

  .link-items-grid {
    display: grid;
    gap: 0.56vw;
  }

  .links-flex {
    display: flex;
    gap: calculate-vw(32);
  }

  img {
    width: calculate-vw(24);
    height: calculate-vw(24);
    vertical-align: middle;
  }

  h4 {
    color: #808080;
    font-weight: 500;
    line-height: 120%;
  }

  h5 {
    color: #808080;
    line-height: 120%;
  }

  p {
    letter-spacing: 0.03vw;
    margin: 0;
  }

  .remind-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calculate-vw(16);

    input {
      width: 100%;
      border: 1px solid gray;
      padding: 1.25vw;
      letter-spacing: 0.03vw;
      vertical-align: middle;
      font-family: Gilroy;
      font-size: calculate-vw(14);
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      color: #333;
    }

    button {
      width: 100%;
      padding: 1.12vw;
      letter-spacing: 0.03vw;
      font-family: Gilroy;
      font-style: normal;
      font-size: 1.12vw;
      font-weight: 500;
      line-height: 140%;
      text-decoration: none;
    }
  }
}
