@import '../../../shared/mixins/functions.scss';

#wedding-section {
    height: 50vw;
    background-image: url(../WeddingSection/assets/weddingImage.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            font-weight: 500;
            font-size: calculate-vw(14);
            line-height: calculate-vw(16.8);
        }
        h2 {
            margin-top: calculate-vw(24);
            margin-bottom: calculate-vw(16);
        }
        .description {
            font-weight: 500;
            font-size: calculate-vw(18);
            line-height: calculate-vw(25.2);
            margin-bottom: calculate-vw(64);
        }
    }
}