@import './fonts/stylesheet.css';
@import './shared/mixins/functions.scss';

* {
  box-sizing: border-box;
}

html,
body,
#root,
h1,
h2,
h3,
h4,
h5,
nav,
article,
section,
header,
footer,
.app {
  width: 100%;
  font-family: 'Gilroy', sans-serif;
  font-size: calculate-vw(16);
  font-weight: 400;
  line-height: 130%;
  background-color: white;
  margin: 0;
}
