@import '../../../shared/mixins/functions.scss';

#to-contact-us-section {
  .left-section {
    .contact-us-container {
      display: flex;
      flex-direction: column;

      .form-container {
        display: flex;
        flex-direction: column;

        .phone-form {
          display: flex;
        }
      }
    }

    .contacts-container {
      display: grid;

      .grid-item {
        display: flex;
        flex-direction: column;

        .title-container {
          display: flex;
        }

        .phone-container {
          display: flex;
          flex-direction: column;
          height: 100%;
        }

        .address-container {
          display: flex;
          flex-direction: column;
          height: 100%;
        }

        .icon-container {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
  .right-section {
    display: flex;
    flex-direction: column;

    .grid-container {
      display: grid;

      .grid-item {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (min-width: 992px) {
  #to-contact-us-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .left-section {
      display: grid;
      grid-template-rows: 1fr 1fr;

      .contact-us-container {
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        padding: calculate-vw(80);
        gap: calculate-vw(24);

        .form-container {
          gap: calculate-vw(16);

          .phone-form {
            gap: calculate-vw(16);
            flex-direction: row;
          }
        }
      }

      .contacts-container {
        grid-template-columns: 1fr 1fr;

        .grid-item {
          .title-container {
            padding-top: calculate-vw(16);
            padding-bottom: calculate-vw(16);
            padding-left: calculate-vw(10);
            padding-right: calculate-vw(10);
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            justify-content: center;
          }

          .phone-container {
            gap: calculate-vw(24);
            align-items: center;
            justify-content: center;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            padding: calculate-vw(24);
            height: 100%;
          }

          .address-container {
            gap: calculate-vw(22);
            align-items: center;
            justify-content: center;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            padding: calculate-vw(24);
            height: 100%;
          }

          .icon-container {
            gap: calculate-vw(4);
          }
        }
      }
    }
    .right-section {
      .grid-container {
        grid-template-columns: 1fr 1fr;

        .grid-item {
          padding-top: calculate-vw(16);
          padding-bottom: calculate-vw(16);
          padding-left: calculate-vw(40);
          padding-right: calculate-vw(40);
          border-bottom: 1px solid black;
          border-top: 1px solid black;
          justify-content: center;
        }

        .icons {
          gap: calculate-vw(32);
          border-left: 1px solid black;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #to-contact-us-section {
    display: flex;
    flex-direction: column;
    .left-section {
      display: grid;
      grid-template-rows: 1fr 1fr;

      .contact-us-container {
        border-bottom: 1px solid black;
        padding: calculate-vw-tablet(80);
        gap: calculate-vw-tablet(24);

        .form-container {
          gap: calculate-vw-tablet(16);

          .phone-form {
            gap: calculate-vw-tablet(16);
            flex-direction: row;
          }
        }
      }

      .contacts-container {
        grid-template-columns: 1fr 1fr;
        border-bottom: 1px solid black;

        .grid-item:nth-child(2) {
          border-left: 1px solid black;
        }

        .grid-item {
          .title-container {
            padding-top: calculate-vw-tablet(16);
            padding-bottom: calculate-vw-tablet(16);
            padding-left: calculate-vw-tablet(10);
            padding-right: calculate-vw-tablet(10);
            border-bottom: 1px solid black;
            justify-content: center;
          }

          .phone-container {
            align-items: center;
            justify-content: center;
            gap: calculate-vw-tablet(24);
            padding: calculate-vw-tablet(24);
          }

          .address-container {
            align-items: center;
            justify-content: center;
            gap: calculate-vw-tablet(22);
            padding: calculate-vw-tablet(24);
          }

          .icon-container {
            gap: calculate-vw-tablet(4);
          }
        }
      }
    }

    .right-section {
      .grid-container {
        grid-template-columns: 1fr 1fr;
        .grid-item {
          padding-top: calculate-vw-tablet(16);
          padding-bottom: calculate-vw-tablet(16);
          padding-left: calculate-vw-tablet(40);
          padding-right: calculate-vw-tablet(40);
          border-bottom: 1px solid black;
          border-top: 1px solid black;
          justify-content: center;
        }

        .icons {
          gap: calculate-vw-tablet(32);
          border-left: 1px solid black;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #to-contact-us-section {
    display: flex;
    flex-direction: column;
    .left-section {
      display: flex;
      flex-direction: column;

      .contact-us-container {
        padding: calculate-vw-mobile(40) calculate-vw-mobile(16);
        gap: calculate-vw-mobile(24);
        border-top: 1px solid black;
        border-bottom: 1px solid black;

        .form-container {
          gap: calculate-vw-mobile(16);

          .phone-form {
            gap: calculate-vw-mobile(16);
            flex-direction: column;
          }
        }
      }

      .contacts-container {
        .grid-item {
          .title-container {
            padding: calculate-vw-mobile(16);
            border-bottom: 1px solid black;
          }

          .phone-container {
            gap: calculate-vw-mobile(24);
            padding: calculate-vw-mobile(40) calculate-vw-mobile(16);
            border-bottom: 1px solid black;
          }

          .address-container {
            gap: calculate-vw-mobile(22);
            padding: calculate-vw-mobile(40) calculate-vw-mobile(16);
            border-bottom: 1px solid black;
          }

          .icon-container {
            gap: calculate-vw-mobile(4);
          }
        }
      }
    }

    .right-section {
      .grid-container {
        grid-template-rows: 1fr 1fr;
        .grid-item {
          padding-top: calculate-vw-mobile(16);
          padding-bottom: calculate-vw-mobile(8);
          padding-left: calculate-vw-mobile(16);
          padding-right: calculate-vw-mobile(16);
          border-top: 1px solid black;
        }

        .icons {
          gap: calculate-vw-mobile(32);
        }
      }
    }
  }
}
