@import '../../../shared/mixins/functions.scss';

#to-contact-us-section {
  display: flex;
  border-bottom: 1px solid black;
  .left-side {
    width: 50vw;
    .top-content {
      padding: calculate-vw(80);
      padding-bottom: calculate-vw(99);
      span {
        display: block;
        margin-top: calculate-vw(24);
        margin-bottom: calculate-vw(16);
        font-weight: 500;
        font-size: calculate-vw(18);
        line-height: calculate-vw(25.2);
      }
      .call-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: calculate-vw(16);
        .input {
          color: #808080;
          border: 1px solid #d2d2d7;
          font-weight: 500;
          font-size: calculate-vw(14);
          line-height: calculate-vw(16.8);
          padding-left: calculate-vw(16);
          padding-top: calculate-vw(19.5);
          padding-bottom: calculate-vw(19.5);
        }
      }
    }
    .bottom-content {
      border-top: 1px solid black;
      display: grid;
      grid-template-columns: 1fr 1fr;
      h3 {
        text-align: center;
        border-bottom: 1px solid black;
        margin: 0;
        padding-top: calculate-vw(16);
        padding-bottom: calculate-vw(16);
      }
      .bottom-phone-content {
        padding-top: calculate-vw(105);
        padding-bottom: calculate-vw(105);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calculate-vw(24);
        img {
          position: relative;
          bottom: calculate-vw(4);
          width: calculate-vw(24);
          height: calculate-vw(24);
        }
        .phone {
          font-weight: 600;
          font-size: calculate-vw(16);
          line-height: calculate-vw(19.2);
          display: flex;
        }
      }
      .address-content {
        border-left: 1px solid black;
        .bottom-address-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          font-size: calculate-vw(16);
          line-height: calculate-vw(19.2);
          letter-spacing: calculate-letter-spacing(2.5);
          padding-top: calculate-vw(105.5);
          padding-bottom: calculate-vw(105.5);
          span {
            font-weight: 500;
            font-size: calculate-vw(14);
            line-height: calculate-vw(16.8);
            text-transform: uppercase;
          }
          img {
            position: relative;
            bottom: calculate-vw(-5);
            width: calculate-vw(24);
            height: calculate-vw(24);
          }
        }
      }
    }
  }
  .right-side {
    display: flex;
    flex-direction: column;
    width: 50vw;
    border-left: 1px solid black;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .bottom-follow-icons {
      background-color: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-weight: 500;
      font-size: calculate-vw(38);
      line-height: calculate-vw(45.6);
      .follow {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: calculate-vw(16);
        padding-bottom: calculate-vw(16);
      }
      .icons {
        border-left: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calculate-vw(32);
        img {
          width: calculate-vw(24);
          height: calculate-vw(24);
        }
      }
    }
  }
}
