@import '../../../shared/mixins/functions.scss';

.our-service {
  border-bottom: 1px solid black;

  h2 {
    text-align: center;
    padding-bottom: calculate-vw(80);
    padding-top: calculate-vw(80);
  }
}
